SUPABASE_URL= https://supabase.com/dashboard/project/slmvfasgiiuekxiwcpzt
SUPABASE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNsbXZmYXNnaWl1ZWt4aXdjcHp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MzE3NDQsImV4cCI6MjA5NzIwNzc0NH0.HKV__Vt0ubq6WoQxyIGSOTOPtenedyIzyOm5h7un-as
AISSTREAM_API_KEY=your_aisstream_key
REDIS_URL=your_upstash_redis_url
MODEL_STORE_PATH=./models
