fastapi==0.115.0
uvicorn==0.30.6
supabase==2.7.4
pydantic-settings==2.4.0
celery==5.4.0
redis==5.0.8
xgboost==2.1.1
pandas==2.2.2
scikit-learn==1.5.2
yfinance==0.2.43
websocket-client==1.9.0
python-dotenv==1.0.1
numpy==1.26.4
